.label {
    font-size: 36px;
}

.row {
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 0;
    align-items: center;
}

.left_col {
    width: 220px;
}

.right_col {
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}
